<!DOCTYPE html>
<html lang="en">
{% include head.html %}



<body>

  <div class="wrapper">
    {{ content }}
  </div>
  
  {% include analytics.html %}

  <div id="cvModal" class="cv-modal">
    <div class="cv-modal-content">
      <span class="cv-close" onclick="closeCvPopup()">&times;</span>
      <iframe src="{{site.baseurl}}/assets/files/cv.pdf" frameborder="0" width="100%" height="500px"></iframe>
    </div>
  </div>

  <script>
    function openCvPopup() {
      document.getElementById("cvModal").style.display = "block";
    }
    
    function closeCvPopup() {
      document.getElementById("cvModal").style.display = "none";
    }
    </script>
    
</body>
</html>
